@import "reset.css";

body {
	background-color: #f9b233;
	background-image: url('../images/zip-v2.svg');
	background-repeat: no-repeat;
	background-position: top;
	background-size: 1920px;
}

.container {
	max-width: 1000px;
	margin: auto;
}

#header {
	width: 780px;
	margin: auto;
	margin-top: 145px;
	height: 240px;
	position: relative;
	margin-bottom: 50px;
}

#app {
	transition: opacity 1s;
	opacity: 1;
}

.loading {
	opacity: 0 !important;
}

textarea {
	width: 100%;
	min-height: 100px;
	border: 3px solid #000;
	padding: 5px 10px;
	margin-top: 10px;
	margin-bottom: 8px;
	max-width: 974px;
	font-family: monospace;
	height: calc(100vh - 335px - 335px);
}

#logo {
	max-width: 650px;
	margin: auto;
	display: block;
}

#powered-by-swarm {
	max-width: 116px;
	position: absolute;
	right: 80px;
	bottom: 0px;
	background-image:url(../images/powered-by-swarm-v2.svg);
	width: 116px;
	height: 116px;
}

#powered-by-swarm:hover:after {
	content: "";
	background-image: url(../images/powered-by-swarm-v2-hover.svg);
	width: 116px;
	height: 116px;
	position: absolute;
	top: 4px;
	left: 2px;
	z-index: -1;
}

#new, #paste, #copy, #about {
	border: 3px solid #000;
	background-color: #fff;
}

#new {
	background-image: url(../images/new.svg);
	position: absolute;
	width: 96px;
	height: 57px;
}

#paste {
	background-image: url(../images/paste.svg);
	height: 50px;
	width: 132px;
	float: right;
	position: relative;
}

#copy {
	background-image: url(../images/copy.svg);
	height: 50px;
	width: 110px;
	position: relative;
}

.copy-input {
	border: 3px solid #000;
	height: 42px;
	display: block;
	float: left;
	margin-right: 10px;
	max-width: 860px;
	width: calc(100vw - (210px - 10px -10px));
	padding-left: 10px;
	font-family: monospace;
}

#about {
	background-image: url(../images/about.svg);
	height: 50px;
	width: 50px;
	border-radius: 50px;
	position: absolute;
	top: 0;
	right: 0;
}

#close {
  background-image: url(../images/close.svg);
  height: 50px;
  width: 105px;
  border: none;
  float: right;
  position: relative;
}

#about:hover:after,
#copy:hover:after,
#paste:hover:after,
#new:hover:after,
#close:hover:after {
	content: " ";
	position: absolute;
	top: 2px;
	left: 1px;
	border: 2px solid #000;
	z-index: -1;
	background-color: #000;
	width: inherit;
	height: inherit;
}

#about:hover:after {
	top: 2px;
	left: 1px;
	border-radius: 50px;
}

#new:hover:after {
	width: 90px;
  height: 51px;
}

#copy:hover:after {
	height: 44px;
	width: 104px;
}

#paste:hover:after {
	height: 44px;
	width: 126px;
}

#close:hover:after {
	height: 44px;
	width: 100px;
	top: 5px;
	left: 3px;
}

#about-text {
	font-family: helvetica;
	margin-bottom: 20px;
}

/* About */

#about-page {
	background-color: rgba(0,0,0,.6);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

#about-page #about-content {
	background-color: #fff;
	border: 3px solid #000;
	max-width: 970px;
	margin: auto;
	padding: 10px;
	margin-bottom: 10px;
}

/* Vertical Align */

.va-outer {
  display: table;
  width:100%;
  height: 95vh;
}

.va-inner {
  display: table-cell;
  vertical-align: middle;
}

/* Utility */

.desktop-only {
	visibility: visible;
}

.mobile-only {
	visibility: hidden;
}

/* Mobile */

@media (max-width: 900px) {
  body {
    background-position: center top -7%;
    background-size: 1000px;
  }

  .container {
		max-width: 100%;
		padding: 20px;
		margin: auto;
	}

	#header {
		width: 100%;
		margin-top: 0;
		margin-bottom: 0;
		height: 180px;
	}

	#about, #new {
		position: relative;
	}

	#new {
		float: left;
		width: 61px;
    height: 40px;
	}

	#new:hover:after {
		height: 34px;
		width: 55px;
	}

	#copy {
		height: 40px;
		width: 80px;
	}

	#copy:hover:after {
		height: 34px;
		width: 75px;
	}

	#paste {
		height: 40px;
		width: 94px;
	}

	#paste:hover:after {
		height: 34px;
		width: 89px;
	}

	#about {
		float: right;
		height: 34px;
    width: 34px;
	}

	#logo {
		width: 100%;
	}

	textarea {
		width: calc(100% - 25px);
		height: calc(100vh - 200px - 156px - 20px);
	}

	.desktop-only {
		visibility: hidden;
	}

	.mobile-only {
		visibility: visible;
	}

	#powered-by-swarm {
		left: 20px;
    bottom: 20px;
	}

	.copy-input {
		height: 32px;
		width: calc(100vw - (158px - 10px -10px));
	}
}