body {
	background-color: #f9b233;
	background-image: url('images/zip-v2.svg');
	background-repeat: no-repeat;
	background-position: top;
}

.container {
	max-width: 1000px;
	margin: auto;
}

#header {
	width: 720px;
	margin: auto;
	margin-top: 80px;
	height: 240px;
	position: relative;
}

#app {
	transition: opacity 1s;
	opacity: 1;
}

.loading {
	opacity: 0 !important;
}

textarea {
	width: 100%;
	min-height: 100px;
}

#logo {
	max-width: 650px;
	margin: auto;
	display: block;
}

#powered-by-swarm {
	max-width: 116px;
	position: absolute;
	right: 50px;
	bottom: 0px;
}

#new {
	position: absolute;
	max-width: 96px;
}