html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

p {
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	margin-top: 0;
}

body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
	list-style-position: outside;
}
blockquote,
q {
	quotes: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

blockquote,
q {
	quotes: none;
}

/*
Safari doesn't support the quotes attribute, so we do this instead.
*/
blockquote:before,
blockquote:after,
q:before,
q:after {
	/*
	CSS 2; used to remove quotes in case "none" fails below.
	*/
	content: '';
	/*
	CSS 2.1; will remove quotes if supported, and override the above.
	User-agents that don't understand "none" should ignore it, and
	keep the above value. This is here for future compatibility,
	though I'm not 100% convinced that it's a good idea...
	*/
	content: none;
}

a {
	color: none;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-2-13 17:22:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-in-top {
	0% {
		-webkit-transform: translateY(-500px);
		transform: translateY(-500px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		/*opacity: 0;*/
	}
	38% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		/*opacity: 1;*/
	}
	55% {
		-webkit-transform: translateY(-65px);
		transform: translateY(-65px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	72% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	81% {
		-webkit-transform: translateY(-28px);
		transform: translateY(-28px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	90% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	95% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}
@keyframes bounce-in-top {
	0% {
		-webkit-transform: translateY(-500px);
		transform: translateY(-500px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		/*opacity: 0;*/
	}
	38% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		/*opacity: 1;*/
	}
	55% {
		-webkit-transform: translateY(-65px);
		transform: translateY(-65px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	72% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	81% {
		-webkit-transform: translateY(-28px);
		transform: translateY(-28px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	90% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	95% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}

.bounce-in-top {
	-webkit-animation: bounce-in-top 1.1s both;
	animation: bounce-in-top 1.1s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-2-14 9:41:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-out-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-out-center {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
		opacity: 0;
	}
}
@keyframes rotate-out-center {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
		opacity: 0;
	}
}

.rotate-out-center {
	-webkit-animation: rotate-out-center 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
	animation: rotate-out-center 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
@-webkit-keyframes fade-out {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes fade-out {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.fade-out {
	-webkit-animation: fade-out 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
	animation: fade-out 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

body {
	background-color: #f9b233;
	background-image: url('../images/zip-v2.svg');
	background-repeat: no-repeat;
	background-position: top;
	background-size: 1920px;
}

.container {
	max-width: 1000px;
	margin: auto;
	width: calc(100% - 40px);
}

#header {
	width: 780px;
	margin: auto;
	margin-top: 145px;
	height: 240px;
	position: relative;
	margin-bottom: 50px;
}

#wrap {
	padding-bottom: 120px;
	overflow: auto;
}

#appParent {
	transition: opacity 1s;
	opacity: 1;
}

.loading {
	opacity: 0 !important;
}

textarea,
#texteditor {
	background-color: #fff;
	width: 100%;
	min-height: 200px;
	border: 3px solid #000;
	margin-top: 10px;
	margin-bottom: 8px;
	font-family: monospace;
	font-weight: bold;
	line-height: 17px;
	font-size: 15px;
	padding: 15px 20px;
	box-sizing: border-box;
	white-space: pre-wrap;
}

.metadata {
	font-family: monospace;
	margin-top: 25px;
}

.metadata .name {
	font-weight: bold;
	color: white;
	padding-right: 10px;
}

.metadata .size {
	font-style: italic;
	color: #efefef;
}

#texteditor[placeholder]:empty:before {
	content: attr(placeholder);
	color: #888;
}

#logo {
	max-width: 650px;
	margin: auto;
	display: block;
}

#powered-by-swarm {
	max-width: 116px;
	position: absolute;
	right: 80px;
	bottom: 0px;
	background-image: url(../images/powered-by-swarm-v2.svg);
	width: 116px;
	height: 116px;
}

#powered-by-swarm:hover:after {
	content: '';
	background-image: url(../images/powered-by-swarm-v2-hover.svg);
	width: 116px;
	height: 116px;
	position: absolute;
	top: 4px;
	left: 2px;
	z-index: -1;
}

#new,
#paste,
#copy,
#about {
	border: 3px solid #000;
	background-color: #fff;
}

#new {
	background-image: url(../images/new.svg);
	position: absolute;
	width: 96px;
	height: 57px;
}

#paste {
	background-image: url(../images/paste.svg);
	height: 50px;
	width: 132px;
	float: right;
	position: relative;
}

#copy {
	background-image: url(../images/copy.svg);
	height: 50px;
	width: 110px;
	position: relative;
}

.copy-input {
	border: 3px solid #000;
	height: 42px;
	display: block;
	float: left;
	margin-right: 10px;
	max-width: 850px;
	width: calc(100vw - (210px - 10px -10px));
	padding-left: 20px;
	font-family: monospace;
	-webkit-appearance: textfield;
}

#about {
	background-image: url(../images/about.svg);
	height: 50px;
	width: 50px;
	border-radius: 50px;
	position: absolute;
	top: 0;
	right: 0;
}

#close {
	height: 50px;
	width: 50px;
	border-radius: 50px;
	border: 3px solid #000;
	float: right;
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: #fff;
}

#about,
#copy,
#paste,
#new,
#close {
	cursor: pointer;
}

#about:hover:after,
#copy:hover:after,
#paste:hover:after,
#new:hover:after,
#close:hover:after {
	content: ' ';
	position: absolute;
	top: 2px;
	left: 1px;
	border: 2px solid #000;
	z-index: -1;
	background-color: #000;
	width: inherit;
	height: inherit;
}

#about:hover:after {
	top: 2px;
	left: 1px;
	border-radius: 50px;
}

#new:hover:after {
	width: 90px;
	height: 51px;
}

#copy:hover:after {
	height: 44px;
	width: 104px;
}

#paste:hover:after {
	height: 44px;
	width: 126px;
}

#close:hover:after {
	top: 2px;
	left: 1px;
	border-radius: 50px;
	width: 45px;
	height: 45px;
}

#about-text {
	font-family: helvetica;
	margin-bottom: 20px;
}

#terms {
	position: absolute;
	bottom: 20px;
	right: 20px;
	font-family: monospace;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}

#terms-content {
	max-height: 95vh;
	overflow: scroll;
}

/* About */

#about-page,
#terms-page {
	background-color: #f8b133;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	box-shadow: 1px 3px 0px #000;
}

#about-page #about-content {
	background-image: url(../images/about-details.svg);
	height: 320px;
	width: 320px;
	margin: auto;
	position: relative;
}

#about-1up {
	background-image: url(../images/1up-logo.svg);
	height: 18px;
	width: 18px;
	position: absolute;
	bottom: 63px;
	left: 80px;
}

#about-1up:hover {
	background-image: url(../images/1up-logo-hover.svg);
}

#about-swarm {
	background-image: url(../images/swarm-logo.svg);
	height: 25px;
	width: 25px;
	position: absolute;
	bottom: 59px;
	right: 78px;
}

#about-swarm:hover {
	background-image: url(../images/swarm-logo-hover.svg);
}

#terms-page {
	font-family: monospace;
}

#terms-page h1 {
	font-size: 20px;
	margin-bottom: 10px;
}

#terms-page p {
	line-height: 1.4em;
}

/* Vertical Align */

.va-outer {
	display: table;
	width: 100%;
	height: 95vh;
}

.va-inner {
	display: table-cell;
	vertical-align: middle;
}

/* Utility */

.desktop-only {
	visibility: visible;
}

.mobile-only {
	visibility: hidden;
}

/* Mobile */

@media (max-width: 900px) {
	body {
		background-position: center top 7vw;
		background-size: 1000px;
	}

	#wrap {
		padding-bottom: 0;
	}

	.container {
		max-width: 100%;
		padding: 20px;
		margin: auto;
	}

	#header {
		width: 100%;
		margin-top: 0;
		margin-bottom: 0;
		min-height: 180px;
		height: auto;
	}

	#about,
	#new {
		position: relative;
	}

	#new {
		float: left;
		width: 61px;
		height: 40px;
	}

	#new:hover:after {
		height: 34px;
		width: 55px;
	}

	#copy {
		height: 40px;
		width: 80px;
	}

	#copy:hover:after {
		height: 34px;
		width: 75px;
	}

	#paste {
		height: 40px;
		width: 94px;
	}

	#paste:hover:after {
		height: 34px;
		width: 89px;
	}

	#about {
		float: right;
		height: 34px;
		width: 34px;
	}

	#logo {
		width: 100%;
	}

	textarea,
	#texteditor {
		padding: 10px;
		padding-top: 10px;
		/*	  white-space: pre;
	  overflow-wrap: normal;
	  overflow-x: scroll;
*/
		min-height: calc(100vh - 470px);
	}

	.desktop-only {
		visibility: hidden;
		display: none !important;
	}

	.mobile-only {
		visibility: visible;
	}

	#powered-by-swarm {
		left: initial;
		bottom: initial;
		right: initial;
		position: relative;
		display: block;
		margin: 20px;
	}

	.copy-input {
		height: 32px;
		padding-left: 10px;
		width: calc(100vw - (158px - 10px));
	}

	#terms-content {
		margin-top: 67px;
		max-height: calc(95vh - 67px);
	}
}

@media (max-width: 700px) {
	body {
		background-position: center top -5vw;
		background-size: 1000px;
	}

	textarea,
	#texteditor {
		/*min-height: calc(100vh - 200px - 156px - 70px - 75px - 50px);*/
		min-height: calc(100vh - 200px - 156px - 80px);
	}

	.copy-input {
		height: 32px;
		padding-left: 10px;
		padding-right: 0;
		padding-bottom: 0;
	}
}

@media (max-width: 360px) {
	#about-page #about-content {
		width: calc(100vw - 40px);
		height: calc(100vw - 40px);
	}

	#about-1up,
	#about-swarm {
		display: none;
	}
}